//colors
$color_gris: #e0e0e0;
$white: white;
$black: black;
$color_azuloscuro: #002d77;
$red: red;
$verde: #28d65c;

//fonts
$font_0: Roboto;
$font_1: sans-serif;

* {
    font-family: $font_0, $font_1;
}
body {
    text-align: center;
    background-color: $color_gris;
    font-size: 100%;
}
img {
    max-width: 100%;
}
.contenedor-principal {
    background-color: $white;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    padding: 30px 0;
    margin: 100px 8%;
}
input {
    border-width: 0 0 1px 0;
    border-color: $black;
    padding: 0 0 2px 7px;
    width: 39%;
    margin: 20px 5%;
    font-size: 1.3em;
}
.btnEnviar {
    background-color: $color_azuloscuro;
    color: $white;
    width: auto;
    padding: 8px 10%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
}
h1 {
    font-size: 1.9em;
}
h2 {
    font-size: 1.7em;
}
p {
    font-size: 1.5em;
}
@media(max-width: 987px) {
    h1 {
        font-size: 2.3em;
    }
    h2 {
        font-size: 2.1em;
    }
    p {
        font-size: 2em;
    }
    input {
        font-size: 2em;
        width: 80%;
        margin-bottom: 50px;
    }
}
.datoErroneo {
    border-color: $red;
}
.respuesta-negativa {
    text-align: justify;
    width: 90%;
    padding: 15px;
    margin-left: 5%;
    background-color: #ff0000a8;
    color: $white;
}
.respuesta-afirmativa {
    text-align: justify;
    width: 90%;
    padding: 15px;
    margin-left: 5%;
    background-color: $verde;
    color: $white;
}
article {
    text-align: justify;
    padding-left: 5%;
    margin-bottom: 60px;
}